* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
a {
  color: inherit;
  display: inline-block;
}
button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  cursor: pointer;
  border: 0;
}
ul,
ol {
  list-style: none;
}
input {
  outline: none;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Rubik", sans-serif;
  color: var(--color-white);
}

/* 💻⚪️Home */
.container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 4.2fr;
  transition: transform 0.4s ease-in-out;
  background: #ffffff;
  height: 100vh;
}

.archiveAndBody {
  display: flex;
  // justify-content: center;
}

/* Header */
.header {
  background-color: #f6f6f6;
  position: relative;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  transition: transform 0.4s ease-in-out;
  border-right: 1px solid #e7e7e9;
  // z-index: 2;

  &__row {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  /* Logo */
  &__logo {
    display: flex;
    width: auto;
    justify-content: center;
    height: auto;
    color: #ec7160;
  }
  &__search-icon {
    display: none;
  }

  &__search {
    position: absolute;
    width: 100%;
    height: 34.01px;
    padding-left: 30px;
    border-radius: 7px;
    border: none;
  }
}

.search-iconx-div {
  display: none;
}
.search__div {
  display: flex;
  position: relative;
  left: auto;
  top: 70px;
  height: 34.01px;
  justify-content: center;
}

.burger-menu__checkbox,
.search-icon-checkbox,
.search-iconx-checkbox {
  display: none;
}

/* Menu */
.menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 32px;
  top: 220px;
  z-index: 3;

  /*buttons*/
  &__add-notes-btn,
  &__notes-btn {
    width: 100%;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 27px;
    padding: 10px;
    color: #898989;
    text-decoration: none;
  }
}

.select-notes {
  color: #303030;
  border-left: 4px solid #ec7160;
}

/* Archive */
.archive {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid #e7e7e9;
  position: relative;

  /* PINNED */
  &__pinned {
    font-family: "Inter";
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 10px;
    color: #ffffff;
    background-color: #ec7160;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
  }
  &__item {
    margin: 10px 0;
    cursor: pointer;
  }
  &__data-title {
    width: 232px;
    height: 27px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: #303030;
  }
  &__data-content {
    width: 265px;
    height: 40px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #898989;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  &__footer {
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;

    &-delete {
      font-family: "Inter";
      font-style: normal;
      font-weight: 400;
      font-size: 13px;
      line-height: 20px;
      color: #ec7160;
    }
  }
  &__seperator {
    font-family: "Inter";
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 10px;
    color: #ffffff;
    background-color: #ec7160;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
  }
  &__item {
    padding: 10px;
  }
}

/* Body */
.body {
  margin-top: 114px;
  margin-left: 20px;

  &__head-title {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 31px;
    color: #303030;
  }

  &__content-text {
    width: 80%;
    height: 81px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: #303030;
  }
}

.search__img {
  position: absolute;
  width: 18px;
  height: 18px;
  left: 5px;
  top: 7px;
  z-index: 1;
}
.date {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  color: #898989;
}
.select {
  background-color: #8989892d;
  border-radius: 8px;
}
.add_note {
  width: 65px;
  height: 243.33px;
  filter: drop-shadow(0px 9px 25px rgba(236, 113, 96, 0.26));
}

.circle {
  position: absolute;
  width: 65px;
  height: 65px;
  left: 600px;
  top: 200px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  color: #f6f6f6;
  background: #ec7160;
  border-radius: 32.5px;
  cursor: pointer;
}

// Home Page Responsive
@media (max-width: 500px) {
  .container {
    grid-template-columns: 1fr;
    transition: transform 0.2s ease-in-out;
    height: 500px;
  }
  .archiveAndBody {
    justify-content: center;
  }

  .body,
  .header:has(.search-icon-checkbox:checked) .search-icon-div,
  .menu,
  .header__search,
  .search__div,
  .search__img {
    display: none;
  }
  .archive {
    padding-top: 120px;
    border: none;
  }

  .header {
    justify-content: space-between;
    position: fixed;
    z-index: 3;
  }
  .burger-menu {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    gap: 0.75rem;

    &__bar {
      height: 0.4rem;
      width: 4.375rem;
      background-color: #ec7160;
      border-radius: 5px;
      transition: transform 0.2s ease-in-out;
    }
  }

  .header:has(.burger-menu__checkbox:checked) .burger-menu__bar:nth-child(1),
  .header:has(.burger-menu__checkbox:checked) .burger-menu__bar:nth-child(3) {
    transform: scale(0.5, 1.5);
  }
  .header:has(.burger-menu__checkbox:checked) .burger-menu__bar:nth-child(2) {
    transform: scale(0.8, 1.5);
  }
  .header__search-icon,
  .header__searchx-icon {
    display: flex;
    width: 30px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
  }
  .container:has(.burger-menu__checkbox:checked) .archive {
    opacity: 0;
    visibility: hidden;
  }
  .menu button {
    width: 100%;
    font-size: 30px;
    text-align: start;
    margin-top: 20px;
  }
  .menu {
    position: fixed;
    &__line {
      width: 40px;
      height: 0px;
      background-color: #ec7160;
      left: -30px;
      top: 30px;
    }
  }

  .header:has(.search-icon-checkbox:checked) {
    height: 120px;
    align-items: flex-start;
    padding: 20px;
  }
  .header,
  .container:has(.burger-menu__checkbox:checked) .menu,
  .header:has(.search-icon-checkbox:checked) .search__div,
  .header:has(.search-icon-checkbox:checked) .header__search,
  .header:has(.search-icon-checkbox:checked) .search__img,
  .header:has(.search-icon-checkbox:checked) .search-iconx-div {
    display: flex;
  }

  .container:has(.burger-menu__checkbox:unchecked) .menu {
    display: none;
  }

  .search__div {
    width: 100%;
    top: 5px;
  }

  .body {
    justify-self: left;
  }
}
// End Home Page

// Add Note Page
.container__add-note {
  display: grid;
  grid-template-columns: 1fr 4.2fr;
  height: 100vh;
  width: 100%;
}

.addNote {
  width: 100%;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__title {
    margin-bottom: 50px;
    font-size: 3rem;
    font-weight: bold;
    color: #ec7160;
    text-shadow: 1px 1px 3px #8989898b;
  }
  &__textbox {
    width: 50%;
  }

  &__btns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 50%;
    gap: 50px;
    justify-content: space-around;

    &__addToNotes,
    &__addToPinned {
      width: 100%;
      height: 40px;
      color: #ffffff;
      font-size: 1.5rem;
      font-weight: normal;
      background-color: #ec7160;
      border-radius: 7px;
      padding: 10px;
    }
  }
}

.input-title {
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  font-size: 1.5rem;
  color: #898989;
}

.input-theme {
  width: 100%;
  height: 45px;
  background: #f6f6f6;
  border-radius: 7px;
  margin: 5px 0 15px 0;
  padding: 10px;
  border: none;
}

.input-theme-content {
  height: 18rem;
}

// Responsive Add Note Page
@media (max-width: 500px) {
  .container {
    grid-template-columns: 1fr;
    transition: transform 0.2s ease-in-out;

    &__addNote {
      height: 500px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  .circle {
    display: none;
  }
  .menu,
  .search__div,
  .container:has(.burger-menu__checkbox:checked) .addNote {
    display: none;
  }

  .addNote {
    padding-top: 120px;
    &__btns {
      grid-template-columns: 1fr;
      gap: 10px;
      width: 70%;
    }

    &__textbox {
      width: 70%;
    }
  }
  .container:has(.burger-menu__checkbox:checked) .addNote {
    opacity: 0;
    visibility: hidden;
  }
  .body__head-title {
    margin-top: 20px;
  }
}
